<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <title>Usuń rolę</title>
</head>

<body>

<div th:replace="fragments/header :: header"></div>

<div id="wrapper">

    <main>
        <div id="content">

            <div th:if="${status} == true">
                <h2>Wybrana rola została usunięta</h2>
            </div>
            <div th:if="${status} == false">
                <h2>Wystąpił błąd, rola nie została usunięta</h2>
            </div>

            <div th:if="${roles} !=null">
                <form name="f" th:action="@{/admin/deleteRole}" th:object="${selectedRole}" method="post">

                    <h1>Wybierz rolę do usunięcia z poniższej listy</h1>

                    <li th:each="role : ${roles}">
                        <input type="radio" th:field="*{name}" th:value="${role.name}"/>
                        <label th:text="${role.name}">Rola</label>
                    </li>

                    <button type="submit" class="btn">Usuń</button>

                </form>
            </div>

        </div>
    </main>

    <div th:replace="fragments/menu :: menu"></div>

</div>

<div th:replace="fragments/footer :: footer"></div>

</body>

</html>