			body {
				margin:0;
				padding:0;
				font-family: Sans-Serif;
				line-height: 1.5em;
			}

			#header {
				background: #ccc;
				height: 150px;
				padding: 0;
			}

			#banner {
			    padding-left: 15px;
                height: 150px;
            }

            #logoutButtonPosition{
                 float: right;
                 padding-right: 15px;
                 padding-top: 15px;
            }

            #logoutButton {
                background-color: #4CAF50;
                border: none;
                border-radius: 4px;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
            }

            #logoutButton:hover {
                background-color: #45a049;
            }

			main {
				padding-bottom: 10010px;
				margin-bottom: -10000px;
				float: left;
				width: 100%;
			}

			#nav {
				padding-bottom: 10010px;
				margin-bottom: -10000px;
				float: left;
				width: 230px;
				margin-left: -100%;
				background: #eee;
			}

			#footer {
				clear: left;
				width: 100%;
				background: #ccc;
				text-align: center;
				padding: 4px 0;
			}

			#wrapper {
				overflow: hidden;
			}





			#content {
				margin-left: 230px; /* Same as 'nav' width */
			}

			.innertube {
				margin: 15px; /* Padding for content */
				margin-top: 0;
			}

			p {
				color: #555;
			}

			nav ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
			}

			nav li a {
			    display: block;
				color: darkgreen;
				text-decoration: none;
			}

			nav li a:hover {
                background-color: #555;
                color: white;
            }

            nav li a.active {
                background-color: #4CAF50;
                color: white;
            }