<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<header id="header" th:fragment="header(user)">

    <img id="banner" src="/graphic/tendermanagement.png" alt="Banner" />

    <form  id="logoutButtonPosition" th:action="@{/logout}" method="post">
        <input id="logoutButton" type="submit" value="Wyloguj"/>
    </form>

    <div id="userWelcome" th:if="${user} != null">
        <p th:text="'Witaj ' + ${user.firstName} + ' ' + ${user.lastName} + '!'" />
    </div>

</header>
</body>
</html>