<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
    <title>Strona logowania</title>
</head>
<body>
<div>
    <form name="f" th:action="@{/login}" method="post">

        <h1>Podaj swoje dane do systemu</h1>

        <label for="username">Użytkownik</label>
        <input type="text" id="username" name="username" placeholder="Twój login..."/>
        <label for="password">Hasło</label>
        <input type="password" id="password" name="password" placeholder="Twoje hasło..."/>
        <button type="submit" class="btn">Zaloguj</button>

        <div id="error" th:if="${param.error}">
            <h2>Niepoprawny login lub hasło.</h2>
        </div>
        <div id="logout" th:if="${param.logout}">
            <h2>Poprawne wylogowanie.</h2>
        </div>


    </form>
</div>
</body>
</html>