<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title>Witaj!</title>
</head>

<body>

<div th:replace="header :: header"></div>


<div id="wrapper">

    <main>
        <div id="content">
            <h1>Zawartość</h1>
            <h1 th:inline="text">Witaj [[${#httpServletRequest.remoteUser}]]!</h1>
            <h2 th:text="${user}"></h2>
        </div>
    </main>


    <div th:replace="menu :: menu"></div>

</div>


<div th:replace="footer :: footer"></div>


</body>

</html>