<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<nav id="nav" th:fragment="menu">

    <h3>PRZETARGI</h3>
    <ul>
        <li><a href="#">NOWE</a></li>
        <li><a href="#">AKTYWNE</a></li>
        <li><a href="#">OBSERWOWANE</a></li>
    </ul>
    <h3>COS</h3>
    <ul>
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
        <li><a href="#">Link 4</a></li>
        <li><a href="#">Link 5</a></li>
    </ul>
    <h3>COS INNEGO</h3>
    <ul>
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
        <li><a href="#">Link 4</a></li>
        <li><a href="#">Link 5</a></li>
    </ul>

</nav>
</body>
</html>