<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <title>Tytuł</title>
</head>

<body>

<div th:replace="fragments/header :: header"></div>

<div id="wrapper">

    <main>
        <div id="content">


        </div>
    </main>


    <div th:replace="fragments/menu :: menu"></div>

</div>


<div th:replace="fragments/footer :: footer"></div>


</body>

</html>